.left25pct {
  margin-left: 25%;
}

.ez-field {
  height: 25px;
  margin: 5px 0;
  padding: 0 4px;
  min-width: 200px;
  font-size: 0.9rem;
  box-sizing: border-box;
  width: 100%;
}

.ez-field-full {
  width: 100%;
  display: flex;
  align-items: center;
}

.ez-field-full label {
  margin-right: 10px;
}

.ez-field-error {
  border: 1px solid #d40000;
}

.ez-error {
  color: #d40000;
  font-size: 0.8rem;
}

.ez-thumb {
  height: 200px;
}

.ez-submit {
  margin-top: 5px;
}

.ez-btn {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.5rem 2.5rem;
  border: 2px solid #6E6E6E;
  border-radius: 0;
  background-color: #6E6E6E;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: inherit;
  transition: all 1s ease;
}

.ez-btn.ez-btn--primary:hover,
.ez-btn.ez-btn--primary:focus,
.ez-btn.ez-btn--primary:active {
  border-color: #00305a;
  background-color: #0059a6;
  color: #FFFFFF;
}

.ez-btn.ez-btn--secondary:hover,
.ez-btn.ez-btn--secondary:focus,
.ez-btn.ez-btn--secondary:active {
  border-color: #193e2d;
  background-color: #2e7555;
  color: #FFFFFF;
}

.ez-btn.ez-btn--tertiary:hover,
.ez-btn.ez-btn--tertiary:focus,
.ez-btn.ez-btn--tertiary:active {
  border-color: #b60a00;
  background-color: #ff1103;
  color: #FFFFFF;
}

.ez-btn--filled:hover,
.ez-btn--filled:focus,
.ez-btn--filled:active {
  border-color: #2e2e2e;
  background-color: #555555;
  color: #FFFFFF;
}

.ez-btn--filled.ez-btn--primary {
  border-color: #0074D9;
  background-color: #0074D9;
  color: #FFFFFF;
}

.ez-btn--filled.ez-btn--secondary {
  border-color: #3D9970;
  background-color: #3D9970;
  color: #FFFFFF;
}

.ez-btn--filled.ez-btn--tertiary {
  border-color: #FF4136;
  background-color: #FF4136;
  color: #FFFFFF;
}

.ez-btn--outlined {
  background-color: transparent;
  color: #6E6E6E;
}

.ez-btn--outlined:hover,
.ez-btn--outlined:focus,
.ez-btn--outlined:active {
  border-color: #2e2e2e;
  background-color: #555555;
  color: #FFFFFF;
}

.ez-btn--outlined.ez-btn--primary {
  border-color: #0074D9;
  color: #0074D9;
}

.ez-btn--outlined.ez-btn--secondary {
  border-color: #3D9970;
  color: #3D9970;
}

.ez-btn--outlined.ez-btn--tertiary {
  border-color: #FF4136;
  color: #FF4136;
}

.ez-btn--clear {
  border-color: transparent;
  background-color: transparent;
  color: #6E6E6E;
}

.ez-btn--clear:hover,
.ez-btn--clear:focus,
.ez-btn--clear:active {
  border-bottom: 2px solid #6E6E6E;
  color: #6E6E6E;
}